button{
    font-size:16px;
    width:  100px;
    margin:10px;
    color:white;
    padding:15px;
    border-radius:30px;
    border-color: black;
    border-width: 5px;
}

.counterButton { 
    background-color:#b526d1; 
}

.resetButton {
    background-color:red;
}

.count {
    font-size: 50px;
    padding: 20px
}

.totalCount{
    color:#b526d1;
    font-size: 150px;
}

;


